/**************** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border: #D9D9D9;
    --opacity-filter: #0065FC1A;
}

.fa-solid{
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

a{
    text-decoration: none;
    color:black;
}
 ul{
    list-style-type: none;
 }
/*************** Header ***********/
header{
    /* height: 79px; */
    margin: 0 -50px;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 79px;
    width: 161px;
    padding: 30px 50px;
}

nav{
    height: 35px;
    width: 344px;
    padding: 0 50px;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

nav ul li:nth-child(1){
    height: 100%;
    display: flex;
    align-items: end;
    color: var(--main-color);
    border-top: 2px solid var(--main-color)
}

nav ul li:nth-child(1) :visited{
    color:var(--main-color);
}

/***************** Main ***********/

/*** title-forms-filter ***********/

.title-forms-and-filter{
    margin: 35px 0;
}

.main-title h1{
    font-size: 22px;
    margin-bottom: 8px;
}

/**form**/
.forms-and-filter form{
    height: 49px;
    margin: 35px 0;
    display: inline-flex;
}

.icone-location{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-radius: 10px 0 0 10px; /*top-left -> sens horaire*/
}

.fa-location-dot{
    color: black;
}

form .search{
    height: 100%;
    width: 204px;
    border: none;
}

form .search[type="search"], form .search::placeholder{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

form .search::placeholder{
    width: 100%;
    text-align: center;
}

form .submit{
    height: 100%;
    width: 132px;
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 0 10px 10px 0;
}

form .submit[type="submit"]{
    font-size: 18px;
    font-weight: 700;
}

.magnifying-glass{
    display: none;
}

/**Filter**/
.filter{
    max-width: 750px;
    margin-bottom: 37.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter p{
    font-size: 18px;
    font-weight: 700;
}
.filter ul{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px 5px;
}

.filter ul li{
    height: 50px;
    padding: 4px 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 30px;
}

.filter ul li:hover{
    background-color: var(--opacity-filter);
}

.filter ul li i{
    margin-right: 10px;
}

.div-info{
    display: flex;
    align-items: center;
}

.icone-info{
    min-height: 24px;
    min-width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--border);
}

.fa-info{
    font-size: 10px;
}

/* hebergements-and-populaires*****/

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.hebergements-cards a{
    width: 30%;
}

.hebergements-cards img{
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content{
    padding: 10px;
}

.hebergements-cards .card-subtitle{
    margin: 8px 0;
}

.hebergements .afficher-plus{
    font-size: 18px;
    font-weight: 700;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********** Activites***********/
.activites{
    margin: 35px 0;
    padding: 30px;
}
.activites h2{
    margin-bottom: 30px;
}

.activites-cards{
    display: flex;
    justify-content: space-between;
}

.activites-cards a{
    width: 23%;
}

.activites img{
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites .card-title{
    margin: 20px 19px;
}


/******************footer*********************/
footer{
    padding:  20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--main-bg-color);
}

footer h4{
    font-size: 18px;
}

footer li{
    margin-top: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filter{
        flex-direction: column;
        align-items: flex-start;
    }

    .filter > p{
        margin-bottom: 20px;
    }

    .filter ul{
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites img{
        height: 200px;
    }

    .activites .card-title{
        margin: 25.5px 19px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    header li:nth-child(1){
        border-top: 0 none;
        border-bottom: 2px solid var(--main-color);
    }
    .forms-and-filter .submit{
        display: none;
    }
    .magnifying-glass .fa-magnifying-glass{
        color: white;
    }
    .forms-and-filter .magnifying-glass{
        display: block;
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        border-radius: 0 10px 10px 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    footer{
        grid-template-columns: 1fr;
        padding: 30px;
        row-gap: 50px;
    }
}